<settings>
    
    <setting propertyKey="@Properties.invertColors" title="@Strings.invertColors">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.simSecSyncPulse" title="@Strings.simSecSyncPulse">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.drawDate" title="@Strings.drawDate">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.lowBattWarning" title="@Strings.lowBattWarning">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.notificationsIcon" title="@Strings.notificationsIcon">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.mode24hr" title="@Strings.mode24hr">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.bugsWarning" title="@Strings.bugsWarning">
        <settingConfig type="list">
          <listEntry value="1">@Strings.bugsWarningWarning</listEntry>
        </settingConfig>    
    </setting>

    <setting propertyKey="@Properties.alwaysShowSeconds" title="@Strings.alwaysShowSeconds">
        <settingConfig type="boolean" />
    </setting>

</settings>
