<settings>
    
    <setting propertyKey="@Properties.useAntiAliasing" title="@Strings.useAntiAliasing">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.invertColors" title="@Strings.invertColors">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.simSecSyncPulse" title="@Strings.simSecSyncPulse">
        <settingConfig type="boolean" />
    </setting>

</settings>
